// 填寫入境資料 （再次確認資訊）
// ---------------------------------------------------------------- //
.arrivalInfo {
  margin: 50px 0 50px 28px;

  &>*{
    // outline: 1px dashed #f008;
    outline-offset: -1px;
  }

  &>label{
    display: block; width: 100%;
    margin: 0 0 40px;
    input { 
      width: 100%;
      margin: 5px 0 0; padding:0 2px 0;
      font-size: 1.2em; height: 2em;
      border-radius: 0;
      border-left: none;border-right: none;border-top: none;
      border-bottom-width: 2px;
    }
  }

  @media screen and (min-width: 900px){
    display: flex;
    justify-content: space-between;
    &>label{
      flex: 0 0 30%;
      input{margin: 10px 0 0; padding:.4em 2px 0;}
    }
  
  }

}