// 選面談日期
// REACT CALENDAR
.bookingCalendar{
  .react-calendar{

    // 導覽：上個月、下個月
    .react-calendar__navigation {
      display: flex; justify-content: space-between;
      button.react-calendar__navigation__label { 
        flex-grow: 0 !important;
        position: relative;
        &::after {
          content: '';
          position: absolute; right: 8px; bottom: 8px;
          width: 0;height: 0;
          border-style: solid; border-width: 4px;
          border-color: transparent #fff #fff transparent;
        }        
      }
      button.react-calendar__navigation__arrow{
        position: relative;
        padding: 0; height: 2.6em; width: 2.6em;
        border-radius: 50%;
        &::after{
          content:''; position:absolute; top:calc(50% - 8px); 
          width:14px; height:14px;
          border:2px solid #fff;border-right:none; border-top:none;
        }
        &[disabled] { background-color: $bgLight;
          box-shadow: none;
          &:hover{background-color: $bgPale;}
        }
      
        &.react-calendar__navigation__prev-button {
          &::after{rotate:45deg;left:calc(50% - 4px);}
        }
        
        &.react-calendar__navigation__next-button{
          text-indent: -5.6em;
          &::after{rotate:225deg;right:calc(50% - 5px);}
        }

        &>div{
          display: block; white-space: nowrap;
          font-size: .85em; color: $fontColor;
          &.prev_btn{ margin-left: 3.4em;}
        }
      }
    }

    .react-calendar__viewContainer{ font-size: .85em;}

    // 選月份，一月～十二月
    .react-calendar__year-view {
      padding: 16px 0;
      .react-calendar__year-view__months{
        gap: 6px; justify-content: space-between;
        button {
          margin: 0; padding: 0; height: 2.8em; border-radius: 1.5em;
          flex: 0 0 calc(33.3333% - 4px) !important;
          background-color: $bgPale; color: $fontColor;
          box-shadow:none;
          &:not([disabled]){
            &:hover, &:focus{
              background-color: $assistantColor1;
              color:#fff;
            }
            &:focus{ box-shadow:#fff 0 0 0 1px, $assistantColor1 0 0 0 4px;}
          }
          &[disabled]{ 
            background-color: transparent; color: #ccc;
            &:hover, &:focus {background-color: $bgPale; opacity: .5;
              transition: all .2s, opacity .8s .2s;
            }
          }
        }
      }
    }

    // 週ㄧ到週日
    .react-calendar__month-view__weekdays {
      border-bottom: $borderColor solid 1px;
      padding-bottom: 12px; padding-top: 12px; margin-bottom:4px;
      font-weight: bold; text-align: center;
      .react-calendar__month-view__weekdays__weekday{
        &::first-letter { color: transparent; font-size: 0;}
        
        // 週六、日
        &.react-calendar__month-view__weekdays__weekday--weekend {
          color: $warningColor;
        }
      }
    }

    // 月，日期
    .react-calendar__month-view__days{
      button{
        position: relative;
        margin: 0; padding:6px 2px; 
        background-color: transparent; color: $fontColor;
        line-height: 1; height: auto;box-shadow: none;
        abbr{
          position: relative; z-index: 8;
          display: block; height:2.4em; line-height: 2.5;
        }
        &::before{
          content: ''; position: absolute; top: 6px; left: calc(50% - 1.2em);
          height: 2.4em; width: 2.4em; border-radius: 50%;
        }
        &:hover, &:focus { box-shadow: none; background-color: transparent;}
        &[disabled]{
          color: #ccc;
          &:hover, &:focus {
            &::before{background-color: $bgPale;}
          }
        }
        &:not([disabled]) {
          &::before{ transition:background .3s, box-shadow .15s; }
          abbr{transition: .2s;}
          &:hover, &:focus{
            &::before { background-color: $assistantColor1; }
            abbr{color: #fff;}
          }
          &:focus{ 
            &::before{ box-shadow:#fff 0 0 0 1px, $assistantColor1 0 0 0 4px; }
          }
          &.react-calendar__month-view__days__day--weekend{
            color: $warningColor;
          }
        }
      }
    }

    @media screen and (min-width: $wwNormal){
      font-size: 1em;

      // 導覽：上個月、下個月
      .react-calendar__navigation {
        button.react-calendar__navigation__arrow{
          &.react-calendar__navigation__next-button { text-indent: -6.1em;}
          &>div{ 
            font-size: 1em; color: $fontColor; 
            &.prev_btn{ margin-left: 3em;}
          }
        }
      }

      .react-calendar__viewContainer{font-size: 1em;}

      // 選月份，一月～十二月
      .react-calendar__year-view {
        .react-calendar__year-view__months{
          button { flex: 0 0 calc(16.6666% - 5px) !important; }
        }
      }
      // 週ㄧ到週日
      .react-calendar__month-view__weekdays {
        padding-top: 20px;
        .react-calendar__month-view__weekdays__weekday{
          &::first-letter { color: inherit; font-size: 1em;}
        }
      }


      // 月，日期
      .react-calendar__month-view__days{
        button{ padding-top: 12px; padding-bottom: 12px;
          &::before{ top: 12px;}
        }
      }
    }
  }
}



// ---------------------------------------------------------------- //
.bookingCalendar{
  margin: 30px -3%; 

  @media screen and (min-width: $wwSlim){
    margin-left: auto; margin-right: auto; max-width: 36em;
  }

  @media screen and (min-width: $wwNormal){
    box-shadow: rgb(0 0 0 / .2) 0 0 24px; border-radius: 12px;
    padding:16px 12px; margin: 20px auto 70px;
  }
}
// ---------------------------------------------------------------- //
