// 條款聲明及資格審核
// ---------------------------------------------------------------- //
.claim{
  @extend %primSection;

  position:relative; padding: 50px 25px;
  border-radius: 16px;
  background-color: $bgPale;

  &.scroll{
    height: calc(100vh - 40px - 10em); overflow-y: auto;
    min-height: 20em;
  }

  &>ol{
    line-height:1.6; margin-top: 0; padding-bottom: 30px;
    border-bottom: 1px solid $borderColorDark;
    &>li+li{ margin-top:1.2em;}
    &>li>ol{ margin-top:.3em;}
    &>li>ol{list-style:cjk-decimal;}
  }

  // 我已詳閱並同意
  .agreeCheck{
    position:relative; left:50%; translate:-50% 0;
    display:inline-block; margin:15px auto 0;padding:15px 25px; 
    border-radius:2em; font-size: 1.1em;
    background-color: lighten( $bgPale , 3.5%);
    transition: .2s;
    &:hover{ background-color: #fff; box-shadow: #fff 0 0 0 4px;}
    &:has(input:focus) {background-color: #fff; box-shadow: #fff 0 0 0 4px; }
  }

  @media screen and (min-width: $wwNormal){

    &.scroll{
      height: calc(100vh - 110px - 10em);
    }
  
  }
}

// 填寫「入出境許可證號」和「大陸配偶出生日期」
.fillForm{
  @extend %primSection;
  @extend %frame;
  padding:30px 2% 10px; margin: 20px auto; 
  
  label{
    position: relative;
    display:block; margin:0 auto 20px;
    max-width: 26em;
    // outline: 1px solid #f002;
    // outline-offset: -1px;
    .labelText{
      display:block; margin:0 15px;
      abbr{ margin-left:5px; font-size:larger;}
    }
    input[type="text"], input[type="date"]{
      width:calc(100% - 10px);
      &:has(+.icon){width:calc(100% - 18px - var(--inputHeight));}
    }
    a.icon{
      display: inline-block;text-align: center;
      position: absolute; right: 0; top: auto;
      width: var(--inputHeight); height: var(--inputHeight); 
      line-height: var(--inputHeight);
      padding: 0; margin: 5px; border-radius: 50%; text-decoration: none;
      background-color: $bgLight; color: $fontColor;
      transition: .2s;
      &:hover, &:focus{
        background-color: $assistantColor1; color: #fff;
      }
      &:focus { box-shadow: #fff 0 0 0 1px,  $assistantColor1 0 0 0 4px;}
      &::before { content: '？'; display: inline; font-size: 1.5em; }
    }
    p.hint{ margin:2px 8px 0;}
  }

  @media screen and (min-width:$wwNormal){

    padding:32px 0 20px; 
    label{
      display:flex; justify-content: flex-end;
      align-items:center; flex-wrap: wrap;
      margin:0 auto 12px; width: 90%; max-width: 40em;
      padding-right:calc(var(--inputHeight) + 8px) ;
      .labelText{
        flex:0 1 14em;  margin:0 5px 0 0;
        white-space:nowrap; text-align:right;
      }
      input{ flex:0 1 calc(100% - 14em - 15px); }
      p.hint{ flex: 0 0 calc(100% - 14em - 48px); }

      a.icon{ top: 0; }
    }
  
  }

  @media screen and (min-width:$wwNormal){
    // &+.btnDiv{ margin-top:30px; margin-bottom: 60px;}

  }

}
