// 再次確認資訊
// ---------------------------------------------------------------- //
.confirm{
  @extend %primSection; margin-bottom:50px;
  @extend %frame;

  --marginH: 30px;

  .btnDiv{
    .btnLook:is(a, button, input){ flex: 1 1 50%; }
  }

}
// ---------------------------------------------------------------- //


// 確認預約資訊
// ---------------------------------------------------------------- //
dl.dataReady{
  line-height:1.5;font-size:1em;
  display:flex; flex-flow:row wrap; gap:20px;
  &>div{ flex:0 0 calc(50% - 10px); margin-bottom:8px; }
  dt{ white-space:nowrap; color:$fontColorLight; }
  dd{ margin:0; font-weight:bold; font-size:1.12em; }

  @media screen and (min-width:760px){
    gap:24px;
    &>div{ flex:0 0 calc(33.33% - 16px); }
  }

  @media screen and (min-width:920px){
    gap:16px; 
    &>div{ flex:0 0 calc(25% - 12px);
      &:nth-child(4n + 2) {flex-basis: calc(29% - 12px);}
      &:nth-child(4n + 3) { flex-basis: calc(21% - 12px);}
    }
  }

  @media screen and (min-width:$wwNormal){
    margin-left:var(--marginH);
    dt{ font-size:1em;}
  }
}
// ---------------------------------------------------------------- //


// 已填寫的資料
// ---------------------------------------------------------------- //
.youFilled{
  padding:20px;
  border-radius:12px;
  background:$primaryColor;
  color:#fff;
  line-height:1.5;
  
  display:flex; flex-flow:row wrap;
  gap:20px;
  
  &>div{
    flex:0 0 calc(50% - 10px);
  }

  dt, dd { margin:0;}
  dt{font-size:.88em; margin-bottom:.2em;}
  dd{ font-weight:bold; font-size:1.1em;}

  @media screen and (min-width:700px){
    gap:16px;
    &>div{flex:0 0 calc(25% - 12px);}
  
  }

  @media screen and (min-width:$wwNormal){
    padding:50px 40px;

  }
}
// ---------------------------------------------------------------- //



// 填寫入境資料
// ---------------------------------------------------------------- //
.arrivalInfo {
  margin:50px 0;
  &>label{
    position:relative; display:block; width:100%;
    margin:0 0 40px;
    &::after{
      content:''; position:absolute; left:0; bottom:0;
      height:2px; width:0;
      background-color:$primaryColor;
      transition:.3s;
    }
    input:is([type=text], [type=time], [type=date]){ 
      width:100%; margin:5px 0 0; padding:0 2px;
      font-size:1.2em; height:2em;
      border-radius:0; border:none;
      border-bottom:1px solid $primaryColor;
      box-shadow:none;
    }
    &:hover {
      &::after { width:100%;}
    }
    &:has(input:focus)::after{ width:100%; height:3px; background-color:$assistantColor1;}

    .labelText{
      display: block;
      abbr{ font-size: larger; margin-left: 3px;}
    }
  }

  @media screen and (min-width:900px){
    display:flex;
    justify-content:space-between;
    margin-left:var(--marginH);
    &>label{
      flex:0 0 30%;
      input:is([type="text"] ,[type="time"], [type="date"]){margin:10px 0 0; padding:.4em 2px 0;}
    }
  }

  @media screen and (min-width: $wwNormal){
    margin-right: var(--marginH);
  }

}
.labelName:has(+.arrivalInfo) {
  padding-top: 40px;
  border-top: 2px solid $borderColor;
  &::before{
    top: 40px; background-color: $assistantColor2;
  }
}
// ---------------------------------------------------------------- //