// 再次確認資訊
// ---------------------------------------------------------------- //
.confirm{
  @extend %primSection; 
  @extend %frame;

  --marginH: 24px;

  .btnDiv{
    .btnLook:is(a, button, input){ flex: 1 1 50%; }
  }

}
// ---------------------------------------------------------------- //


// 確認預約資訊
// ---------------------------------------------------------------- //
dl.dataReady{
  line-height:1.5;font-size:1em;
  display:flex; flex-flow:row wrap; gap:20px;
  &>div{ flex:0 0 calc(50% - 10px); margin-bottom:8px; }
  dt{ white-space:nowrap; color:$fontColorLight; }
  dd{ margin:0; font-weight:bold; font-size:1.12em; }

  @media screen and (min-width:760px){
    gap:24px;
    &>div{ flex:0 0 calc(33.33% - 16px); }
  }

  @media screen and (min-width:920px){
    gap:16px; 
    &>div{ flex:0 0 calc(25% - 12px);
      &:nth-child(4n + 2) {flex-basis: calc(29% - 12px);}
      &:nth-child(4n + 3) { flex-basis: calc(21% - 12px);}
    }
  }

  @media screen and (min-width:$wwNormal){
    margin-left:var(--marginH);
    dt{ font-size:1em;}
  }
}
// ---------------------------------------------------------------- //


// 已填寫的資料
// ---------------------------------------------------------------- //
.youFilled{
  padding:20px; line-height:1.5;
  border-radius:12px;
  background:$primaryColor; color:#fff;
  
  display:flex; flex-flow:row wrap; gap:20px;
  
  &>div{
    flex:0 0 calc(50% - 10px); 
    &:nth-child(n + 3) {margin-top: 15px; }
  }

  dt, dd { margin:0;}
  dt{ font-size:1em; margin-bottom:.2em;}
  dd{ font-weight:bold; font-size:1.12em;}

  @media screen and (min-width:760px){

    flex-wrap: nowrap;
    &>div{flex:1 1 calc(25% - 12px);
      &:nth-child(n + 3) { margin-top: 0; }
    }
  
  }

  @media screen and (min-width:$wwNormal){
  
    gap:24px;
    padding:40px;
  
  }
}
// ---------------------------------------------------------------- //



// 填寫入境資料
// ---------------------------------------------------------------- //
.arrivalInfo {
  margin:50px 0 0;
  &>label{
    position:relative; display:block; width:100%;
    margin:0 0 36px;
    abbr{ font-size: 1.2em; margin-left: 3px;}
    input:is([type=text], [type=time], [type=date]){ 
      width:100%; margin:7px 0; padding:2px 1px 0;
      font-size:1.2em; height:2em;
      border-radius:0; border:none;
      box-shadow:$primaryColor 0 1px 0;
      &:hover, &:focus {
        box-shadow:$primaryColor 0 3px 0;
      }
    }
    p.hint{ margin-top: 5px; }
  }

  @media screen and (min-width:900px){
    display:flex; justify-content:space-between;
    margin-left:var(--marginH);
    &>label{flex:0 0 30%;}
  }

  @media screen and (min-width: $wwNormal){
    margin-right: var(--marginH);
  }

}

.secHeading:has(+.arrivalInfo) {
  padding-top: 40px; margin-top: 50px;
  border-top: 2px solid $borderColor;
  &::before{
    top: 40px; background-color: $assistantColor2;
  }
}

// ---------------------------------------------------------------- //