:root{
  font-size:1.25em;
}

body{
  margin: 0 auto; padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: $fontColor;

  *{ box-sizing: border-box;}

  &.noScroll{ overflow: hidden;}

}
a, input, button {outline: none;}

abbr{ 
  text-decoration: none;
  &.required {color: #c00;}
}

table{border-collapse: collapse; width: 100%;margin: 0;}

.main{
  position: relative;
}


// 內頁標題
.pageHeading{
  @extend %primSection; margin: 50px auto 30px; padding: 0;
  text-align: center;
  h2{ font-size: 1.6em; margin: 0; line-height: 1.2; color: $primaryColor;}
  .description { line-height: 1.6; margin: 1em 0 0;}

  @media screen and (min-width: $wwNormal){
    h2{ font-size: 2em;}
  }

}

