// 無障礙定位點
// --------------------------------------------------------------- //
.accesskey{
  position:absolute; display:none;
  @media screen and (min-width:$wwNormal){
    display:block; z-index:199;
    top:2px; left:12px; 
    line-height:1; padding:2px;
    text-decoration:none; color:$bgDark;
    
    &:focus, &:hover{outline:1px solid $bgDark;}
  }

  @media screen and (min-width:$wwMaximum){
    left:calc(50% - $wwMaximum*.5 + 12px);
  }
}
.webFooter .accesskey {
  &:focus, &:hover{outline:1px solid #fff;}
}



// 跳至內容區 
// --------------------------------------------------------------- //
.goCenter{
  --bg:#{$assistantColor1};
  --color:#fff;

  display:none;
  @media screen and (min-width:$wwNormal) {
    display:block; z-index:880;
    position:fixed; top:-2.2em; left:calc(76px + 5vw); 
    padding:0 .5em; border-radius:0 0 4px 4px;
    overflow:hidden;
    font-size:.8em; height:1.6em; line-height:1.7;
    text-decoration:none; outline:none; cursor:pointer;
    background-color:var(--bg); color:var(--color);
    transition:top .3s; 
    &:focus{ top:0;}
  }
  @media screen and (min-width:$wwMaximum) {
    left:calc( 50vw  - #{$wwMaximum}*.45 + 76px );
  }
}
// --------------------------------------------------------------- //



// 回頁面最上方 
// --------------------------------------------------------------- //
button.goTop{
  --tinge:#{$primaryColor};
  --size:64px;
  --arrowSize :20px;

  position:fixed; right:calc(50% - var(--size)*.5); bottom:-80px; z-index:90; 
  width:var(--size); height:var(--size);
  text-indent:-15em; overflow:hidden;
  padding:0; margin:0;
  border:none; border-radius:50%; 
  background-color:rgb(255 255 255 / .85);
  box-shadow:#fff 0 0 0 0, rgb(0 0 0 / .4) 0 0 12px;

  transition:all .2s, bottom 1s, right 0s;
  &::before{
    content:''; position:absolute;
    box-sizing:border-box;
    width:var(--arrowSize); height:var(--arrowSize);
    left:calc( ( var(--size) - var(--arrowSize) )/2 ); top:calc( var(--size)/2 - var(--arrowSize)/4 );
    border:3px solid var(--tinge); 
    border-bottom:none; border-right:none;
    transform:rotate(45deg);
  }

  &:hover, &:focus { box-shadow:#fff 0 0 0 3px, rgb(0 0 0 / .6) 0 0 16px; }
  &:hover{ background-color:rgb(255 255 255 / 1);}
  &:focus{ 
    --tinge:#fff;
    background-color:$primaryColor;
  }

  &.show{ bottom:6px;}

  @media screen and (min-width: $wwNormal){
    right:16px;
    &.show{ bottom:16px;}
  }

  @media screen and ( min-width:calc( $wwMaximum + 48px) ){
    right:calc(50vw - $wwMaximum*.45 - var(--size) - 16px );
  }

}
// --------------------------------------------------------------- //


// 側欄開關
// --------------------------------------------------------------- //
button.sidebarCtrl{
  --speed :.3s;
  --shadowShift:8px;
  --tinge:#000;

  position:relative;
  width:48px; height:48px; margin:0 0 0 8px;
  
  right:0; z-index:98;
  background:#fff;
  transition:all .2s, right .5s;

  &::before, &::after {
    content:''; position:absolute; left:calc(50% - 12px);
    width:24px; height:2px; 
  }
  &::before {
    background-color:var(--tinge);
    box-shadow:var(--tinge) 0 calc(-1 * var(--shadowShift)) 0,var(--tinge) 0 var(--shadowShift) 0;
  }
  &::after{ 
    display:none;
    background-color:var(--tinge);
    transition:rotate var(--speed);
  }

  &:hover, &:focus{ 
    --tinge:#fff;
    background-color:$assistantColor1;
  }
  
  // 側欄開啟時
  &.closeIt {
    --tinge:#fff;
    background-color:$assistantColor1;
    &:hover, &:focus{
      box-shadow:#fff 0 0 0 1px, $assistantColor1 0 0 0 4px;
    }
    &::before{rotate:-45deg; box-shadow:none;}
    &::after{rotate:45deg; display:block;}
  }



  // // 會員圖示
  // &:is(.memberCtrl){
  //   background-color:transparent;
  //   &::before  {
  //     content:''; position:absolute; left:calc(50% - 15px); top:calc(50% - 15px);
  //     width:30px; height:30px;
  //     background:url(../images/icon_avatar.svg) no-repeat center center;
  //     background-size:contain;
  //     filter:brightness(-100%);
  //   }

  //   &:hover, &:focus{
  //     background-color:$assistantColor1;
  //     &::before{
  //       filter:brightness(800%);
  //     }
  //   }
  // }
}


// 關閉 button
// ---------------------------------------------------------------- //
.closeThis{
  --bgc: rgb(220 220 220 / .5);
  --tinge:#{$fontColor};

  position:relative;
  width:56px; height:56px; margin:0;
  background-color:var(--bgc);
  &::before, &::after {
    content:''; position:absolute;
    left:calc(50% - 15px); top:calc(50% - 1px);
    width:30px; height:2px;
    background:var(--tinge);
  }
  &::before { rotate:45deg;}
  &::after { rotate:-45deg;}

  &:hover, &:focus{--tinge:#fff;--bgc:#{$assistantColor1};}
  &:hover { --bgc:#{$bgPale}; }
}


// 區塊標題
// ---------------------------------------------------------------- //
.secHeading{
  position: relative;
  font-size: 1.4em; line-height: 1; font-weight: bold;
  padding: 2px 0 2px 22px; margin: 1em 0 .6em;
  &:first-child{margin-top: 0;}
  &::before{
    content: ""; position: absolute; 
    left: 0; top: 0; bottom: 0;width: 7px;
    background-color: $assistantColor1;
  }

  .symbolStar{
    display: inline-block; margin-left: 1em;
    font-weight: normal; font-size: .7em;
    color: $warningColor;
    abbr{ font-size: larger; }
  }

  &+p{ margin: .5em 0 1em 22px; }
}
// ---------------------------------------------------------------- //

// [註冊成為會員] button
button.membReg{
  height:2.2em; margin:.5em auto;
  border-radius:2em;
}


// 表單輸入欄位的提示訊息
// ---------------------------------------------------------------- //
p.hint{
  --hintColor: #{$fontColorLight};

  position: relative; margin: 0; padding:2px 0 0;
  font-size: .9em; line-height: 1.3;
  color: var(--hintColor); 
  &::before {
    content: ''; position: absolute; left: 0; top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    
    background-color: var(--hintColor);

  }
  &.info, &.check, &.error {
    padding-left: 28px;
    &::before {
      width: 24px; height: 24px; border-radius: 50%;
      background-size: 75%;
    }
  }
  &.warning{
    padding-left: 28px;
    &::before {
      width: 28px; height: 28px;
      background-size: 80% auto;
      background-position: top center;
    }
  }

  &.info{
    --hintColor: #{$primaryColor};
    &::before { background-image: url(../images/icon_msg_info.svg);
    }
  }
  &.check{
    --hintColor: #{$secondaryColor};
    &::before { background-image: url(../images/icon_msg_check.svg);}
  }
  &.warning{
    --hintColor: #{$warningColor};
    &::before { background-image: url(../images/icon_msg_warning.svg);
      background-color: transparent;
    }
  }
  &.error {
    --hintColor: #c00;
    &::before { background-image: url(../images/icon_msg_error.svg);}
  }
}
// ---------------------------------------------------------------- //



// ------------------------------------------------------ //
// --------------------- 模組 --------------------------- //
// ------------------------------------------------------ //


// captcha 驗證碼
// ------------------------------------------------------ //
.captcha{
  clear:both;
  img{
    display: block; 
    margin:5px 5px 5px 0;
    height: 52px; width: auto; max-width: calc(100% - 5px);
  }
  input[type="text"]{ margin: 5px 0; width: 100%;}

  .voice, .refresh {
    height:2.6em; width:2.6em; margin:5px 0 5px 8px;
    border-radius:50%;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:64%;
    &:is(.voice){ background-image:url(../images/icon_capVoice.png);}
    &:is(.refresh){background-image:url(../images/icon_capRefresh.png);}
  }

  p.hint{margin: 5px;}

  @media screen and (min-width: $wwMedium){
    margin:0 auto;  
    display:flex; flex-wrap:wrap; justify-content:flex-start;
    img{ flex:0 1 220px; min-width:200px; }
    input[type="text"]{ flex:1 1 min-content; min-width:8em; }
    button { margin-left:6px; }
    p.hint {
      order: 5; flex: 0 1 calc(100% - 230px);
      margin-left: 230px;
    }
  }
}

// ------------------------------------------------------ //
// ------------------------------------------------------ //
// ------------------------------------------------------ //
// ------------------------------------------------------ //
