// 會員登入／註冊成為新會員／忘記密碼 共用（單獨一頁，非彈出視窗）
// ------------------------------------------------------------ //
.loginHere, .registerHere, .resetPassword{

  .body{
    @extend %primSection; 
    @extend %frame;
    max-width: 960px;

    label{
      display:block; margin:0 auto; max-width:24em;
      & + label{ margin-top:24px;}
      .labelText{ 
        display:block; margin-left:8px;
        abbr.required{ font-size: 1.2em; margin-left: 4px;}
      }
      input{ width:100%; margin:3px 0;}
      .hint {margin-top: 5px;}
    }
  }

  .btnDiv{ 
    margin:30px 0 80px; 
    .btnLook:is(a, button, input){
      min-width:7em;
      &:only-child{ flex-basis:80%;}
    }
  }

  // captcha 驗證碼 captcha captcha ----- //
  .captcha{ margin-top: 48px; max-width:640px; }


  @media screen and (min-width: $wwNormal){
    .body{
      label{
        display:flex; align-items:center; 
        justify-content:flex-end; flex-wrap: wrap;
        .labelText{ 
          font-size: 1.125em;
          margin:0 8px 0 0; white-space:nowrap; text-align:right;
          width: min-content;
        }
        input { flex:0 1 auto; }
        .hint{ flex: 0 0 auto;}
      }
    }
  }
}

// ------------------------------------------------------------ //



// 會員登入
// ------------------------------------------------------------ //
.loginHere {
  // 忘記密碼 a 或 button
  .forget {
    display:block; overflow: hidden;
    margin:-5px auto 5px; padding: 4px; max-width:24em; 
    &>a, &>button{
      float:right; padding:0 .7em; margin: 0;
      height:1.8em; line-height:1.9; border-radius:1em;
      background-color: transparent;
      color:$linkColor; text-decoration:underline;
      transition:.2s;
      &:hover, &:focus{ 
        text-decoration:none;
        background-color:$assistantColor1; color:#fff;
      }
      &:focus { box-shadow:#fff 0 0 0 1px inset, $assistantColor1 0 0 0 3px;}
    }
  }

  @media screen and (min-width: $wwNormal){
    .body {
      label {
        input {flex-basis: calc(100% - 2.7em - 28px);}
        .hint {flex-basis: calc(100% - 3em - 36px);}
      }
    }
  }
}
// ------------------------------------------------------------ //



// 註冊成為新會員
// ------------------------------------------------------------ //
.registerHere {
  @media screen and (min-width: $wwNormal){
    .body {
      label {
        max-width:28em;
        input {flex-basis: calc(100% - 7.2em - 28px);}
        .hint {flex-basis: calc(100% - 8em - 36px);}
      }
    }
  }
}
// ------------------------------------------------------------ //



// 重置密碼（忘記密碼）
// ------------------------------------------------------------ //
.resetPassword {
  @media screen and (min-width: $wwNormal){
    .body {
      label {
        input {flex-basis: calc(100% - 2.7em - 28px);}
        .hint {flex-basis: calc(100% - 3em - 36px);}
      }
    }
  }
}
// ------------------------------------------------------------ //
