// 面談預約完成訊息頁『您已完成本次的面談預約！』
// ---------------------------------------------------------------- //
.messageDone {
  @extend %primSection; padding:0;

  &>article{
    line-height:1.8; text-align:center;
    padding:50px 2vw 40px; margin:0 0 50px; 
    border-radius:16px;
    background:$bgPale;
    &::before{ content:''; display:block; 
      margin:0 auto 15px;
      width:84px; height:84px; border-radius:50%;
      background-image:url(../images/icon_check.png), linear-gradient(134deg, #5db741, #0a7c1d);
      background-repeat:no-repeat;
      background-position:center top 60%, 0 0;
      background-size:64%, 100%;
    }
    p{ margin:0;
      &+p{margin-top:1em;}
    }
    time, em{ 
      font-size:1.3em; font-weight:bold; display:inline-block;
      color: $fontColorDark;
      &:is(time){ margin-left:.3em;}
      &:is(em){ font-style:normal; margin:0 .2em; }
    }
  }


  // 文件下載列印
  ul.downloadfiles{
    list-style:none; padding:0; margin:0 auto;
    line-height:1; font-size:1.1em;
    ul{list-style:none; margin:0; padding:0;}
    &>li{
      margin:20px 0;
      &>ul>li{margin:14px 0 0; padding:0;}
      a.btnLook{
        display:block; width:100%; margin:0;
        &:after{ 
          content:''; display:inline-block; vertical-align:-5%;
          width:24px; height:24px; margin-left:8px;
          background:url(../images/icon_download.png) no-repeat center top;
          background-size:100%;
        }
      }
      &:last-child{
        margin-top:50px;
        a{@extend %gradientGreen;}
      } 
    }
  }

  // 說明文字
  .hint{
    padding:50px 0; margin:60px auto; line-height:1.8;
    border-top:2px solid $borderColor;
    color:$warningColor;
  }

  @media screen and (min-width:calc($wwMedium + 100px)){

    ul.downloadfiles{
      margin:20px auto 60px;
      display:flex; justify-content:space-between; align-items:flex-start;
      &>li{
        margin:0;
        &:first-child{ 
          flex:0 0 64%;
          &>ul{
            display:flex; justify-content:space-between; gap:8px;
            &>li{ flex:0 0 calc(50% - 4px);}
          }
        }
        &:last-child{ 
          flex:1 1 auto; margin-left:4%; margin-top:0;
        }
      }
    }
  
  }
  @media screen and (min-width:$wwNormal){

    &>article, ul.downloadfiles, .hint{ 
      max-width:1020px; padding-left:4.8%; padding-right:4.8%;
    }
    &>article{ 
      margin:0 auto 50px; padding:60px 20px 55px;
      time, em{ font-size: 1.6em;}
    }
  
  }
}
// ---------------------------------------------------------------- //

