// 註冊成為新會員，非彈出視窗
.registerHere {

  h3{ margin:0 auto 20px; text-align:center; font-size:1.4em;}

  .body{
    @extend %primSection; 
    @extend %frame;
    max-width: 880px;

    label{
      display:block; margin:0 auto; max-width:24em;
      & + label{ margin-top:24px;}
      .labelText{ display:block; margin-left:8px;}
      input{ width:100%; margin:3px 0;}
      .hint {margin-top: 5px;}
    }
  }

  .captcha{
    margin-top: 30px; max-width: 640px;
  }

}