.webHeader{
  display:flex;  padding:5px 8px;
  z-index:100;
  
  h1{
    flex:1 1 auto;
    margin:0 10px; padding:0; height:48px;
    font-size:1.5rem; text-indent:-200vw; overflow:hidden;
    background:url(../images/h1.png) no-repeat 0 0;
    background-size:auto 100%;

    // outline: 1px dashed #f008;
    outline-offset: -1px;
    &>a{ 
      display:block; height: 100%; width: 240px;
      &:hover, &:focus{ box-shadow: $assistantColor1 0 0 0 1px inset;}
    }
  }

  // 會員圖示
  button.loginBtn, button.member {
    position:relative;
    width:48px; height:48px; margin:0;
    text-indent:-10em; overflow:hidden;
    background-color:transparent;
    &::before  {
      content:''; position:absolute; left:calc(50% - 15px); top:calc(50% - 15px);
      width:30px; height:30px;
      background:url(../images/icon_avatar.svg) no-repeat center center;
      background-size:contain;
      filter:saturate(0) brightness(0);
    }
    &:hover, &:focus{
      background-color:$assistantColor1;
      &::before{ filter:saturate(0) brightness(5); }
    }
  }


  // 主選單
  .menu{
    display:none;
    a{display:block; text-decoration:none;}
    &>ul{
      list-style:none; margin:0 auto; padding:0;
      line-height:1.2;
    }
  }


  // 會員中心選單
  ul.memberCenter{
    display:none;
    list-style:none; margin:0;padding:0;
    box-shadow:rgb(0 0 0 / .3) 0 0 12px;

    position:fixed; right:56px; top:60px; z-index:99;
    text-align:center; line-height: 1.2;
    min-width:10em; padding:5px;
    background-color:#fff;
    border-radius:10px;
    li{
      margin:0; padding: 0;
      &.account{ padding: .7em 10px;}
      &>a, &>button { 
        display: block;height:2.4em; line-height:2.4; width:100%;
        border-radius: 6px;
        background-color: $primaryColor; color: #fff;
        box-shadow: none;
        transition: .2s;
        &:hover, &:focus { background-color: $assistantColor1;}
        &:focus{
          box-shadow:#fff 0 0 0 1px inset, $assistantColor1 0 0 0 2px;
        }
      }
      &>a{
        text-decoration: none; 
      }
      &>button{margin:0;}
      &+li{margin-top:5px;}
    }
  }

  // 固定版頭
  &.fixed{
    position:fixed; left:0;right:0;top:0;
    background-color:rgb(255 255 255 / .96);
    box-shadow:rgb(0 0 0 / .4) 0 2px 6px;
  }
  transition: .2s;

  @media screen and (min-width:$wwNormal){

    margin:0 auto; padding:20px 5%; margin:0;
    display:flex; flex-flow:row nowrap;
    justify-content:space-between; align-items:center;

    h1{
      flex:0 1 340px; height:70px; margin:0; padding:0;
      background-position:0 center;
      background-size:100% auto;
      &>a{ width: 100%;}
    }

    // 主選單
    .menu{
      display:block; flex:1 1 auto; margin-right:20px;
      &>ul{
        display:flex; justify-content:flex-end;
        align-items:center; flex-flow:row nowrap;
        &>li{
          margin:0 0 0 20px; padding:0;
          &>a{ 
            position:relative; padding:0 0 4px; white-space:nowrap;
            color:#000;
            &::after{
              content:''; position:absolute; left:50%; bottom:0;
              height:2px; width:0;
              background:$primaryColor;
              transition:.2s;
            }
            &:hover, &:focus{
              &::after{ left:0; width:100%;}
            }
          }
          &.here>a{
            &::after{left:0; width:100%; }
            &:focus{ 
              outline:1px solid $primaryColor;
              outline-offset:-1px;
              &::after{ height:3px;}
            }
          }
          &.home{
            &>a{
              padding-left:26px;
              &::before{
                content:''; position:absolute; left:0; top:0;
                width:22px; height:22px;
                background:url(../images/icon_home.png) no-repeat 0 1px;
                background-size:contain;
              }
            }
          }
        }
      }
    }

    // 會員登入、會員中心
    button:is(.loginBtn, .member){
      flex: 1 1 auto; width:auto; 
      height:2.6em; line-height:2.6;
      margin:0; padding:0 .5em 0 calc(1.6em + 16px);
      font-size:inherit; text-indent:0;text-align:left;
      border:none; border-radius:2em; color:#fff;
      background-image:linear-gradient(134deg, #0097e5, #004c93);
      box-shadow:rgb(0 0 0 / .3) 0 3px 8px;
      transition:all .2s, text-indent 0s;
      &::before{
        content:''; position:absolute; left:10px;
        width:1.6em; height:1.6em;border-radius:50%;
        background:url(../images/icon_avatar.svg) no-repeat left top;
        background-size:contain;
        filter:saturate(0) brightness(5);
      }
      &:hover{box-shadow:#fff 0 0 0 3px, rgb(0 0 0 / .3) 0 2px 12px 3px;}
      &:focus{box-shadow:#fff 0 0 0 1px, #004c93 0 0 0 4px, rgb(0 0 0 / .3) 0 0 8px 5px;}
    }
    button.member{ min-width:calc(6.1em + 16px); max-width:calc(6.6em + 16px);}
    button.loginBtn {min-width:calc(9.1em + 16px); max-width:calc(9.6em + 16px);}
    
    // 會員中心 slide down
    ul.memberCenter{ top:90px; right:5vw; }
        
    button.sidebarCtrl {display:none;}


    // 固定版頭
    &.fixed{
      z-index: 980; padding:6px 4%;
      box-shadow:rgb(0 0 0 / .3) 0 2px 12px;
      animation: fixHeadAni .5s 1 ease-out;

      h1{ height: 60px;background-size:contain;}
      ul.memberCenter{ top: 74px;}
    }
  
  }

  @media screen and (min-width:$wwMaximum){
    
    padding-left: calc(50vw - $wwMaximum*.45); padding-right: calc(50vw - $wwMaximum*.45);

    ul.memberCenter{ right:calc(50vw - $wwMaximum*.45); }
    &.fixed{
      padding-left: calc(50vw - $wwMaximum*.46); 
      padding-right: calc(50vw - $wwMaximum*.46);
    }

  }
}

@keyframes fixHeadAni {
  0% {transform: translateY( -100% );}
  100% {transform: translateY(0);}
}
