/* 頁腳 */
.webFooter{
  padding: 55px 5vw;
  font-size: .9em;
  background-image: linear-gradient(107deg, #5aa6bd, #1867ac);
  color: #fff;
  a{color: #fff; text-decoration: auto;}

  .logo{
    img{ display: block; margin: 0 auto 10px; width: 80px;}
  }

  .center{
    line-height: 1.6; margin: 0 0 30px;
    p{
      margin: 0 0 .7em;
      &:first-child{font-size: 1.25em; text-align: center;}
    }
  }

  ul.claim{
    list-style: none;
    margin: 50px 0 0; padding: 0;
    text-align: center; line-height: 1.4;

    &>li{
      // flex: 0 0 calc(33.33% - 10px);
      margin:8px 0; padding:0;
      &:first-child{border: none;}
      a{ 
        position: relative;display: block; 
        padding: .5em 0 3px; margin: 0 auto; width: clamp(50%, 12em, 100%);
        &::after{
          content: ''; position: absolute; left: 0; right: 0;
          bottom: 0; height: 1px; background-color: rgb(255 255 255 / .5);
          transition: .2s;
        }
        &:hover, &:focus {
          &::after{background-color: #fff; height: 2px;}
        }
      }
    }
  }

  @media screen and (min-width: 720px){
    ul.claim{
      text-align: left;
      &>li{display: inline-block; margin: 0 20px 0 0;}
    }
  }

  @media screen and (min-width: $wwNormal){

    display: flex;

    .logo{
      img{ width: 130px; margin: 0;}
    }
    .center{
      border-left: 2px solid #fff;
      padding: 0 0 0 45px; margin: 0 45px;
      p{
        &:first-child{ text-align: left; font-size: 1em;}
        &:last-child{margin-bottom: 0;}
      }
    }
    ul.claim{
      margin: 0 0 0 auto;
      display: block;
      text-align: left;
      &>li{
        display: block;
        border: none; margin: 0 0 .6em;
        a{ 
          position: relative;padding: 0 0 0 20px;
          &::before{
            content: ''; position: absolute;
            left: 4px; top: .5em;
            width: 4px; height: 4px; border-radius: 2px;
            background-color: #fff;
            transition: .2s;
          }
          &::after{background-color: rgb(255 255 255 / 0);}

          &:hover, &:focus{
            &::before {box-shadow: #fff 0 0 0 3px;}
          }
        }
      }
    }
  }

  @media screen and (min-width: $wwMaximum){
    padding-left: calc(50% - 648px);
    padding-right: calc(50% - 648px);
  }

}
